#details{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 4px;
    padding: 8px;
    background-color:#78787822;
    border-radius: 10px;
    backdrop-filter: blur(10px)
}


#details p{
    font-size: 14px;
    font-weight: 500;
    text-transform:uppercase;
}

#details h1{
    font-weight:500;
}

#card-content::-webkit-scrollbar{
    display: none;
}

@media (min-width:600px) and (max-width:1023px){
    #bio{
        gap: 2px;
    }
    #top{
        max-height: auto;
    }
    #card-content{
        width:80%;
        left: 50%;
        transform: translateX(-50%);

    }
    /* #bottom{
        overflow-y: hidden;
    } */
}

@media (min-width:1024px){
    #bio{
        gap:2px;
    }
    #card-content{
        width:60%;
        left: 50%;
        transform: translateX(-50%);
    }
}

